*__pycache__/
*.sqlite3*
*.mo
node_modules
berlin_leitlinien/static/*.css
berlin_leitlinien/static/*.js
berlin_leitlinien/static/fonts
berlin_leitlinien/static/images/Roboto*
media/
/env/
/static/
.idea/
