.hero-unit {
    padding: 6.6em 0;

    position: relative;
    margin-bottom: 3em;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $custom-image-background-gray;

    min-height: $hero-height-mobile;

    @media screen and (min-width: $breakpoint) {
        min-height: $hero-height;
    }

    &:first-child {
        margin-top: -35px;
    }
}

.hero-unit__author {
    position: absolute;
    right: 1em;
    bottom: 0;
    z-index: 1;

    color: $text-color-inverted;
}
